/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root{
    --primary-color: hsl(199, 88%, 44%);
    --accent-color: hsl(19, 88%, 44%);

    --nuetral-color-100: hsl(0, 0%, 100%);
    --nuetral-color-200: hsl(0, 0%, 95%);
    --nuetral-color-400: hsl(240, 3%, 77%);
    --nuetral-color-900: hsl(216, 28%, 7%);

    --font-size-200: 0.75rem;    /* 12px */
    --font-size-300: 0.875rem;   /* 14px */
    --font-size-400: 1rem;     /* 16px */
    --font-size-500: 1.125rem;   /* 18px */
    --font-size-600: 1.25rem;    /* 20px */
    --font-size-700: 1.5rem;    /* 24px */
    --font-size-800: 1.875rem;  /* 30px */
    --font-size-900: 2.25rem;   /* 36px */
    --font-size-950: 3rem;      /* 48px */

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;

    --space-000: 0rem;
    --space-100: .25rem;
    --space-200: .50rem;
    --space-300: .75rem;
    --space-400: 1rem;
    --space-500: 1.25rem;
    --spcae-600: 1.5rem;
    --space-700: 2rem;
    --space-800: 3rem;
    --space-900: 4rem;



    --bg-collapsible: var(--nuetral-color-200);
    --bg-nav: var(--primary-color);
    --bg-main: var(--nuetral-color-400);
    --bg-card: var(--nuetral-color-100);

    --fs-p: var(--font-size-400);
    --fs-h2: var(--font-size-600);
    --fs-h1: var(--font-size-900);
    
    --button-background: var(--primary-color);
    --button-inverse-background: var(--accent-color);
    
    --fc-primary: var(--primary-color);
    --fc-accent: var(--accent-color);
    --fc-black: var(--nuetral-color-900);
    --fc-white: var(--nuetral-color-100);
    
    --fw-header1: var(--font-weight-700);
    --fw-header2: var(--font-size-600);
    --fw-paragraph: var(--font-size-400);

}

/* General Utilities */
.fc-primary{
    color: var(--fc-primary);
}

.fc-accent{
    color: var(--fc-accent);
}

.fc-black{
    color: var(--fc-black);
}

.fc-white{
    color: var(--fc-white);
}

.bg-primary{
    background-color: var(--bg-nav);
}

.bg-white{
    background-color: var(--bg-card);
}

.bg-grey{
    background-color: var(--bg-main);
}

.fw-paragraph{
    font-weight: var(--fw-paragraph);
}

.fw-medium{
    font-weight: var(--fw-header2);
}

.fw-large{
    font-weight: var(--fw-header1)
}

.fs-paragraph{
    font-size: var(--fs-p);
}

.fs-h2{
    font-size: var(--fs-h2);
}

.fs-h1{
    font-size: var(--fs-h1);
}

.bg-button{
    background-color: var(--button-background);
}

.bg-button{
    background-color: var(--button-inverse-background);
}

.padding-small{
    padding: var(--space-300);
}

.padding-normal{
    padding: var(--space-400);
}

.padding-medium{
    padding: var(--space-500);
}

.padding-large{
    padding: var(--spcae-600);
}

.block-padding-small{
    padding: var(--space-300);
}

.block-padding-normal{
    padding-top: var(--space-400);
    padding-bottom: var(--space-400);

}

.block-padding-medium{
    padding: var(--space-500);
}

.block-padding-large{
    padding: var(--spcae-600);
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
}

.flex-row-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row-spacebetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.align-items-cneter{
    align-items: center;
}

.gap-small{
    gap: var(--space-300);
}

.gap-normal{
    gap: var(--space-400);
}

.gap-large{
    gap: var(--spcae-600);
}

.border-radius{
    border-radius: 1rem;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 200px) 1fr
}

nav{
    line-height: 0;
    margin-bottom: .5rem;
}

header{
    margin-bottom: 1rem;
}

button{
    border: none;
    border-radius: 1rem;
    background-color: var(--button-background);
    color: var(--fc-white);
    padding: .25rem .75rem;
    font-weight: var(--font-weight-600);
}

button:hover{
    color: var(--fc-white);
    background-color: hsl(199, 88%, 60%);
}

.inverted-button{
    background-color: var(--accent-color);
    color: var(--fc-white);
}

.inverted-button:hover{
    color: var(--fc-white);
    background-color: hsl(19, 88%, 60%);;
}

.nav-button{
    padding: 1rem;
    text-align: left;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card-button{
    width: 100%;
    display: grid;
    font-weight: var(--fw-paragraph);
    grid-template-columns: 2fr 2fr 2fr 1fr;
    border: none;
    justify-items: left;
    align-items: center;
    background-color: var(--bg-card);
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
}

.card-button:hover{
    color: var(--primary-color);
    background-color: var(--nuetral-color-200);
}


.card-data-container{
    width: 100%;
    text-align: left;
}

.dropdown{
    text-align: right;
}

.new-button-section{
    margin-top: 1rem;
}

.new-task-button{
    width: 100%;
}

.new-task-button:hover{
    color: var(--fc-white);
    background-color: hsl(199, 88%, 60%);
}

.dropdown-button-div{
    margin-top: 1rem;
}

.collapsible{
    display: none;
    background-color: var(--bg-collapsible);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

.label-p{
    font-weight: var(--font-weight-600);
}

.card-header{
    font-size: var(--font-size-600);
    font-weight: 700;
}

svg{
    position: relative;
    justify-self: right;
    width: 25px;
    height:25x;
    fill: var(--primary-color);
    margin-right: 1.75rem;
}

.three-dots{
    position: absolute;
    display: none;
    top: 10;
    right: 0;
    width: 90px;
    height: auto;
    padding: .75rem;
    background-color: hsl(0, 0%, 90%);;
    justify-items: center;
}

svg:hover{
    fill: var(--accent-color);
}

.remove-task{
    display: block;
    color: var(--primary-color);
    background-color: inherit;
}

.relative{
    position: relative;
}